.App .container {
  border-radius: 20px;
  background-color: transparent;
  margin: 40px auto;
  width: 100%;
  padding: 25px 8px;
}

.App {
  background-color: #05101a;
  background-size: cover;
  width: 100%;
  position: absolute;
}
