.contact {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: -40px;
  font-size: 12px;
  color: #2e323c;
}

.contact-link {
  color: #2e323c;
}
.contact a {
  color: #2e323c;
  text-decoration: none;
}
.contact :hover {
  text-decoration: overline;
}
