.contact {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: -50px;
  font-size: 12px;
  color: rgb(197, 198, 199);
}

.contact-link {
  color: rgb(197, 198, 199);
}
.contact a {
  color: rgb(197, 198, 199);
  text-decoration: none;
}
.contact :hover {
  text-decoration: overline;
}
