.contact {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: -50px;
  font-size: 15px;
  color: var(--primary-color);
}

.contact-link {
  color: var(--primary-color);
}
.contact a {
  color: var(--primary-color);
  text-decoration: none;
}
.contact :hover {
  text-decoration: overline;
}
