.Dictionary {
  margin-top: -120px;
}

.Dictionary h1 {
  text-align: center;
  font-size: 65px;
  color: rgb(226, 226, 228);
  margin-top: -15px;
}

.Dictionary h2 {
  text-align: center;
  color: rgb(197, 197, 198);
  font-size: 28px;
  margin-top: 5px;
}
.Dictionary button {
  margin: 3px 4px;
  border: none;
  font-size: 21px;
  border-radius: 3px;
  background-color: rgb(197, 198, 199);
}

.Dictionary img {
  display: block;
  margin: 0 auto;
  width: 340px;
}

.Dictionary section {
  padding: 15px 30px;
  background-color: rgba(53, 0, 211, 0.431);
  border-radius: 15px;
  margin: 15px 5px;
}

.Dictionary section:hover {
  box-shadow: 0 9px 22px rgb(247, 189, 135);
}
.Dictionary .search-bar {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 21px;
  border-color: transparent;
}
.Dictionary .col-md-6 {
  background-color: rgb(197, 197, 198);
  border: none;
  border-radius: 3px;
}

.Dictionary .fa-solid {
  color: rgb(31, 40, 51);
  opacity: 0.8;
}
