.Dictionary {
  margin-top: -120px;
}

.Dictionary h1 {
  text-align: center;
  font-size: 70px;
  color: rgb(226, 226, 228);
  margin-top: -15px;
  font-family: "Architects Daughter", cursive;
}

.Dictionary h2 {
  text-align: center;
  color: rgb(197, 197, 198);
  font-size: 35px;
  margin-top: 5px;
}
.Dictionary button {
  margin: 3px 3px;
  border: none;
  font-size: 21px;
  border-radius: 3px;
  background-color: transparent;
}

.Dictionary img {
  display: block;
  margin: 0 auto;
  width: 340px;
}

.Dictionary section {
  padding: 10px 20px;
  background-color: rgba(49, 23, 143, 0.479);
  border-radius: 15px;
  margin: 15px 5px;
}

.Dictionary section:hover {
  box-shadow: 0 6px 22px #27e97e;
}
.Dictionary .search-bar {
  display: block;
  text-align: center;
  margin-top: 30px;
  border-color: transparent;
}
.Dictionary .col-sm-6 {
  background-color: rgb(197, 197, 198);
  border: none;
  border-radius: 3px;
  font-size: 23px;
}

.Dictionary .fa-solid {
  color: white;
  opacity: 0.8;
  font-size: 25px;
  padding: 4px 4px 4px;
}
