.Meaning h3 {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 10px;
}

.Meaning .definition {
  margin-left: 5px;
  padding: 8px;
  color: rgb(197, 198, 199);
}

.Meaning .example {
  color: var(--secondary-text-color);
  padding: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 30px;
  font-weight: 300;
}
