.Results h2 {
  font-size: 40px;
  text-align: left;
  margin-left: 5px;
  margin-bottom: 10px;
  color: var(--text-color);
}

.Results section {
  font-size: 20px;
  color: var(--text-color);
}

.Phonetic .fa-solid {
  color: var(--primary-color);
  margin-left: 2px;
  margin-bottom: 10px;
  background-color: transparent;
}
