.Synonyms li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin-top: 5px;
  margin-bottom: -5px;
  font-style: italic;
}

.Synonyms {
  margin-bottom: -10px;
}
